@import "tailwindcss";

@theme {
  /* Cores */
  --color-bg: #1a1a1a;
  --color-surface: #262626;
  --color-border: #333333;
  --color-text: #e5e7eb;
  --color-text-secondary: #9ca3af;
  --color-primary: #60a5fa;
  --color-primary-hover: #3b82f6;
  --color-accent: #34d399;
  --color-accent-hover: #10b981;

  /* Fontes */
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
}
